@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;500;700&family=Rubik:wght@400;500;700&family=Ubuntu&display=swap');